* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#canvas1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, #222921, #414242);  
}
